{% extends "index.html" %}

{% block content %}
    <div class="container" id="conclusions">
        <h1> Conclusions </h1>
        <p> As mentioned in the abstract, the original goal of this review to see if there was any reason to believe
            the socio-political stratification of the United States influences the way its citizens engage with the news 
            of an outbreaking war that carries large economic and geopolitical consequences. The findings are so similar
            that the original question is better reframed as, "How do people, generally, engage on Twitter with an outbreak
            of war?" However, before the review processes this new question, it will first cover what was found when trying
            to answer for the original. </p>

        <h3> Right Wing Stratification Analysis </h3>
        <p> In the United States there's a great deal of discussion regarding the flaws of each of the two prominent political parties,
            their sub-parties, and each party's constituents. In the last six years, including and following, the election and presidency
            of Donald Trump as the Republican President of the United States, left-trending news organizations like MSNBC, CNN, New York Times,
            Washington Post, and other organizations became highly critical of not only the President himself, but his constituency as 
            frequently loud, racist and white-nationalistic, violent, queer-phobic, and ignorant, among the most common criticisms.
            Hillary Clinton, former President Trump's primary opponent in the 2016 presidential election, referred to Trump and his 
            supporters as, "...a basket of deplorables" during the election cycle, a comment that was not easily forgotten by the 
            Trump consituency, and further increased the intensity of the, "lock her up" chants and merchandise, referring to 
            Hillary Clinton herself, and the former Secretary of State's controversial involvement in an attack on a U.S. consolate in 
            Benghazi, Libya, and her usage of a private email account and private servers for the purposes of offical state correspondence. 
        </p>
        <p> The contention held for Hillary Clinton by Trump, Trump voters, and Republican voters more generally 
            is so frequently found at the root of any criticism of the three aforementioned groups and individuals that the criticisms 
            very quickly became popular culture, spawning magnitudes of film adaptations, music, articles, books,
            stand-up comedy monologues, and even scientific studies to interpret and catalogue the behavior of Donald Trump
            and his most ardent supporters as less intelligent, less educated, and more prone to violence, generally, furthering the 
            increasingly popular cultural animosity toward Trump, but more important to the purposes of this study, to his supporters.
            So, while this study will not attempt to answer whether or not Trump's supporters more prone to violence or hostility in general, 
            it did find that while they are more prone to hostility and violent language in war time, it is only ever so slightly 
            more than left-trending Twitter users.
        </p>
        <ul>
            <li>8.8% of the sampled right-trending Twitter users in the United States used hostile language in their tweets</li>
        </ul>
        <p> By comparison, 7.5% of the sampled left-trending Twitter users presented with hostile language in their tweets. On average,
            this was a difference of only 14 people per sample. The results of the left-trending sample will be covered in more detail later,
            but these findings call into question the cultural response to the recent studies that suggest self-identified right-wing 
            individuals are more prone to violence. As discovered here, even if that is technically true, self-identified left-wing
            individuals are near-equally prone to using violent language in their tweets. What could the reason be for such a similar
            use of hostile language among both groups?
        </p>
        <p> In addition to analyzing the tendency for violent or hostile language in user tweets, this study reviewed for 
            defensive language choices, overlapping language choices (what language choices were left-trending and right-trending populations using
            regardless of their affiliation), and unrelated language choices. Below is how the final three categores are represented in
            right-trending users.
        </p>
        <ul>
            <li> 14% of the sampled right-trending Twitter users in the United States used defensive language in their tweets</li>
            <li> 10.6% of the sampled right-trending Twitter users in the United States used overlapping language in their tweets</li>
            <li> .09% of the sampled right-trending Twitter users in the United States< used unrelated language in their tweets</li>
        </ul>
        <p> These results will function for comparative purposes as this conclusion moves onward to the Left Wing Stratification Anlysis 
            portion of the study.
        </p>

        <h3>Left Wing Stratification Analysis</h3>
        <p> While the animosity toward former President Trump and his supporters was building, so too was the animosity
            of left-presenting elites and their supporters building. A commong criticism of what appears to be 
            the left-wing of the United States politic among right-leaning individuals is that the left-wing appears to think 
            they are uneducated, unimportant, replaceable, and that their material needs do not matter. The responses to these 
            fears come in a wide variety, some sentiments more popular than others, such as left-leaning individuals only caring about
            identity over material concerns, or maybe put more articulately, that there is no intersection between identity and material 
            concerns for left-leaning individuals. In the era of Trump-style right-leaning politics in the United States, personal attacks 
            on journalists for their physical ability, racial epithets, and casually misogynistic commentary of women in politics
            were popularized as part of the new right-leaning culture. As such, the cycle of popular political discourse the United States 
            followed throughout, and beyond, the Trump presidency became one of attacking the other group for qualities that appear intrinsic
            in each other. The left-wing defends an individual or group from completely unfounded and harmful criticisms leveraged by 
            the right-wing, then refers to any one person even passingly associated with the right-wing as an incompetent, 
            uneducated group of fools. Followed swiftly again by the right-wing waging more potentially harmful rhetoric that would go beyond 
            suggesting individuals associated with the left-wing would rather cry and whine about how unfair the world is 
            than do anything to make their lives better. 
        </p>
        <p> But as discovered above in the review of right-trending individuals, the gap between hostile language in right-trending 
            individuals and left-trending individuals is quite small. Meaning, they are almost just as likely used between the two. 
            What about defensive language choices in left-trending individuals versus right-trending individuals? Are self-identified
            left-leaning people more likely to defend another person or group? The answer is yes, but once again, only ever so slightly.
        </p>
        <ul>
            <li> 15.6% of the sampled left-trending Twitter users in the United States used defensive language in their tweets</li>
        </ul>
        <p> By comparison, 14% of right-trending Twitter users in the United States used defensive language, and on average
            this was a difference of 17 people per sample. As such, this study has found another example of right-trending Twitter users 
            and left-trending Twitter users engaging in a very similar way. Additionally, the sampled left-trending users scored
            the following on the remaining three categories.
        </p>
        <ul>
            <li> 7.5% of the sampled left-trending Twitter users in the United States used hostile language in their tweets</li>
            <li> 10.4% of the sampled left-trending Twitter users in the United states used overlapping language in their tweets</li>
            <li> .10% of the sampled left-trending Twitter users in the United States used unrelated language in their tweets</li>
        </ul>
        <p> After noticing the similarities between the two groups on the usage of hostile and defensive language, the next
            significiantly observable similarity is the .2% difference between the overlapping language the two groups share,
            which might suggest that a sizeable portion of each group is viewing the issues surrounding 
            the Russian invasion of Ukraine similarly. Now that the study has observed that right-trending users of Twitter and 
            left-trending users of Twitter are engaging in very similar behaviors, at least as it pertains to an invasion
            of a sovereign nation by a nuclear world-power, the original question can be answered: Yes, the stratification of United States 
            politics does have an effct on its citizens engagement, but it is a minor effect.
        </p>
        <p> However, the author of this study would suggest that the findings to this question are moot, and that a more interesting
            question can be asked: Why is the response to Russia invading Ukraine not a divisive issue among the two stratified
            political affiliations in the United States, and can understanding the reason, or reasons, lead to a more unified class
            of voting people in the United States? This question will be visited again later in the conclusion. Now we will breifly 
            review the frequency of user activity.   
        </p>

        <h3>User Activity Analysis</h3>
        <p> The line graph on the User Activity page of this review consists of 1800 plotted points of data. This translates 
            to the amount of tweets per second, for thirty minutes of the chosen time. In the case of the specific line graph shown
            for this review, it represents the first thirty minutes of March 1st, from 00:00:00 to 00:30:00. During this time,
            from the cleaned dataset, 4,560 tweets were made, and around 3,000 of them came at intervals of eight to fifteen minutes.
            That a large increase of tweets was made in intervals of eight to fifteen minutes was true across all samples of 
            the original thirty minute criteria. What this finding suggests is that Twitter's news cycle in the early days of
            the invasion was moving rather quickly, with new stories and information developing and being shared with world 
            occuring in those intervals. At this time, the user activity was irrelevant to the sentiment analysis of the original
            question, but it may prove to be more useful information for more complex future questions of user engagement.
        </p>

        <h3>Final Conclusion</h3>
        <p> It's true to say that socio-political stratification in the United States impacts the way that its citizens engage
            with the news of Russia's ongoing invasion of Ukraine at a rate that is currently less than 2% in both subjects 
            that the difference was observed in significance. It is true that left-trending users are more likely to use defensive 
            language choices that are more sentimental of Ukraine, and right-trending users are more likely to use hostile language 
            choices that are in opposition of Russia, however both are more likely to be defensive than they are hostile. This is 
            a significant discovery with consideration for how the two groups engage with one another, which is often accusitory,
            antagonistic, or even physically violent altogether.
        </p>
        <p> Are these findings true accross all of the data this study collected? Not quite, but they are similar. 
            Across the entire population of data:
        </p>
        <ul>
            <li> 5% of the collected Twitter user set used hostile language</li>
            <li> 15% of the collected Twitter user set used defensive language</li>
            <li> 17% of the collected Twitter user set used overlapping language</li>
            <li> .2% of the collected Twitter user set used unrelated language</li>
        </ul>
        <p> In general, it can be observed that, regarldess of your self-identified political affiliation, Twitter users 
            were more likely to be defensive and sentimental of Ukraine during the ongoing invasion, than they were to being hostile toward 
            Russia, although this study did find over one-thousand users encouraging the death, assassination, or suicide of Vladimir Putin. 
            More commonly than the defensive sentimentality was the approach to discuss the issue in the same way that others preceeding you and 
            around you were discussing the invasion. More users in the total population were inclined to repeat what had already been said,
            although to what end this study cannot conclude, it may suggest Twitter's platform encourages a form of national/global engagement 
            that exists as a response to what has already occurred or has already been spoken. 
        </p>
        <p> Finally, to recap the findings from earlier, there are observable differences in behavior of the two 
            stratified political groups in the United States, on Twitter. Right-trending users are most likely to exhibit violent 
            language, but not by much, and left-trending users are most likely to exhibit defensive behaviors, but not by much, and 
            non-politically-identified users are least likely to be violent, in the middle on defensiveness, and more likely 
            to engage in a more communal way with an average percent increase in this behavior of 6.5%. In addition to the differences 
            between the two self-identified groups, these findings suggest that if a user is willing to self-identify their political 
            affinity within the United States, they are more likely to exhibit violent language tendencies toward the Russian invasion 
            of Ukraine. 
        </p>
        <p> As this conflict continues to unfold, the author encourages any reader to question the nature of their accusations and 
            ideologies, and to consider donating to any of the charities attempting to meaningfully provide aide to the 
            Ukrainian people as they endure this most recent, and tragic attack on their homes.
        </p>
    </div>

{% endblock %}