{% extends "index.html" %}

{% block content %}
    <title>Right Sentiment</title>
    <div class="container" id="right_sent">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
        <div style="width: 600px; height: 200px">
            <canvas id="myChart" width="100px" height="100px"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('myChart')
            var barChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ labels|tojson }},
                    datasets: [{
                        label: "Right Sentiment Analysis",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: {{ values|tojson }}
                    }]
                },
                maintainAspectRatio: false,
            })
        </script>
    

    </div>

{% endblock %}